{% if count <= 10 %}
<form action="{% url 'quiz' %}" method="post">
  {% csrf_token %}
  <p>{{count}}.&nbsp;{{quest.fields.question}}</p><span>{{quest.fields.level}}</span>
  <ul >
    {% for a in quest.fields.answer %}
    <li><input type="radio" name="choice" value="{{a.Value}}" required >
      <label for={{a.Value}}>{{a.Value}}</label>
    </li>
    {% endfor %}
  </ul>
  <button type="submit">NEXT</button>
</form>
{% else %}
<a href={% url 'result' %}>See Result</a>
{% endif %}

<script>

</script>